@media (min-width: 375px) {
  .nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 15px;
    margin: 0;
    z-index: 100;
  }

  .nav-title {
    display: none;
  }
  .nav-right {
    display: none;
  }
}
.nav-container {
  /* Positioning */
  padding: 1.5rem;
  position: fixed;

  width: 100vw;

  /* Other Styling */
  background: linear-gradient(#555e6d, #313332);
  overflow: hidden;

  /* box-shadow: 0px 2px 5px #24a368; */
  /* border-bottom: 0.5rem solid #017abb; */
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5vh;
  margin: 0 3rem;
}

.nav-left {
  display: flex;
}
.nav-title {
  align-self: center;
  width: 20rem;
}
.nav-icon {
  height: 100px;
  padding-top: 20px;
  display: inline;
}

.nav-right {
  display: flex;
  align-self: center;
  justify-items: space-between;
}

.nav-button {
  margin: 0 0.5rem;
  height: 100%;
}

/* @media (max-width: 375px) {
  .nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5vh;
    margin: 0;
  }

  .nav-title {
    display: none;
  }
  .nav-right {
    display: none;
  }
} */
