.trains-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  /* margin: 10px; */
  width: 100vw;

  justify-content: center;
}
.north-bound-container {
  display: flex;
  padding: 10px;
  margin: 0 10px;
  align-content: center;
  flex-direction: column;
  width: 45%;
}
.south-bound-container {
  display: flex;
  padding: 10px;
  margin: 0 10px;
  flex-direction: column;
  width: 45%;
}
.trains-container {
  display: flex;
  /* padding: 0px 200px; */
  /* margin: 10px; */
  align-content: center;
  justify-content: center;
}
.train {
  padding: 10px;
  margin: 10px;
}
.ORG {
  background-color: #ff8a00;
}
.GRN {
  background-color: #4f8636;
}
