/* Site Color Scheme
MDT Blue #017abb #08c darkcyan hsl(200,98,36) rgb(1,122,187) 
MDT Green #4f8636 #583 darkolivegreen hsl(101,42,36) rgb(79,134,54)
MDT Orange #ff8a00 #f90 darkorange hsl(32,100,50) rgb(255,138,0)
White
Dark Grey
*/

* {
  margin: 0;
}

#App {
  text-align: center;
  min-height: 100vh;
}

@media (max-width: 320px) {
  * {
    font-size: 10pt;
  }
}

@media (max-width: 767px) {
  html.sidebar-is-open .sidebar {
    display: block;
    /* 
      The sidebar is just rendered in default position,
      as it appears in the document flow
     */
  }

  html.sidebar-is-open .main-content {
    position: fixed;
    /* 
     It is the main content that is positioned. 
     This is the crux of the implementation. The rest is all sugar.

     Cons: the body will scroll to the top, losing your user's scroll position
    */

    /* prevents resizing from its original full-screen width */
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;

    overflow: hidden;
  }

  /* Optional enhancement: 
     make the overscroll on iPhone the same colour as the sidebar */
  html.sidebar-is-open body {
    background-color: var(--sidebar-bg-colour);
  }
  .sidebar {
    background-color: var(--sidebar-bg-colour);
  }
}
