/* Site Color Scheme
MDT Blue #017abb #08c darkcyan hsl(200,98,36) rgb(1,122,187) 
MDT Green #4f8636 #583 darkolivegreen hsl(101,42,36) rgb(79,134,54)
MDT Orange #ff8a00 #f90 darkorange hsl(32,100,50) rgb(255,138,0)
White
Dark Grey
*/

* {
  margin: 0;
}

#App {
  text-align: center;
  min-height: 100vh;
}

@media (max-width: 375px) {
  * {
    font-size: 10pt;
  }
}
