.nav-container {
  /* Positioning */
  padding: 1.5rem;
  position: fixed;

  width: 100vw;

  /* Other Styling */
  background: linear-gradient(#4f8636, #115f16);
  overflow: hidden;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5vh;
  margin: 0 3rem;
}

.nav-icon {
  height: 150px;
  padding-top: 30px;
  /* align-self: center; */
}

.nav-right {
  display: flex;
  align-self: center;
  justify-items: space-between;

  /* width: 30%; */
}

.nav-button {
  margin: 0 0.5rem;
  height: 100%;
}
