@media (min-width: 375px) {
  .nav-container {
    /* Positioning */
    padding: 0.5rem;
    position: fixed;

    width: 100vw;

    /* Other Styling */
    background: linear-gradient(#555e6d, #313332);
    overflow: hidden;
  }
  .nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 10px;
    margin: 0;
    z-index: 100;
  }
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3vh;
  margin: 0 3rem;
}

.nav-title {
  align-self: center;
  width: 20rem;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow-x: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 12px;
  /* z-index: 1000; */
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #42be08;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  z-index: 100;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
